<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><a href="{% url 'manual-openapi' %}" target="_blank">{% url 'manual-openapi' %}</a> Открывается в новом окне</div>
<div><a href="{% url 'create_client' %}">{% url 'create_client' %}</a> </div>
<div><a href="{% url 'RUD_client' 1 %}">{% url 'RUD_client' 1 %}</a> </div>
<div><a href="{% url 'create_mailing_list' %}">{% url 'create_mailing_list' %}</a> </div>
<div><a href="{% url 'RUD_mailing_list' 1%}">{% url 'RUD_mailing_list' 1%}</a> </div>
<div><a href="{% url 'detail_statistic_mailing_list' 1%}">{% url 'detail_statistic_mailing_list' 1%}</a> </div>
<div><a href="{% url 'total_statistic_mailing_list' %}">{% url 'total_statistic_mailing_list' %}</a> </div>
</body>
</html>